* {
  box-sizing: border-box;
  
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  margin: 0;
  
}

p, li {
  color: #454545;
  line-height: 20px;
}


main {
  
  padding-bottom: 0px;
}

.main-section {
  padding: 5px 40px;
}

h1 {
  font-weight: normal;
  
}

h2 {
  padding: 10px;
}


nav {
  
  width: 300px;
  position: fixed;
  
}
.scrollable {
  display: flex;
  flex-direction: column;
  
  
}

.separation {
  position: fixed;
  height: 100vh;
  width: 2px;
  background-color: grey;
  left: 300px;
  
}

span:first-of-type {
  border-top: solid 1px grey;
}
span {

  border-bottom: solid 1px grey;
  padding: 10px;
}



.positioning {
  width: 75%;
  position: relative;
  left: 320px;

}

.example {
  min-height: 50px;
  width: 96%;
  margin-left: 15px;
  background-color: F5F5F5;
  padding: 1px 15px;
  color: #454545
}

 nav a {
  text-decoration: none;
  color: black;
  padding: 3px;

}

a:hover {
  color: white;
  background-color: black;
}

footer {
  height: 70px;
  width: 80%;
  color: white;background-color: #212A3E;
  position: relative;
  bottom: 0px;
  margin: 75px auto 0;
  padding: 20px;
  text-align: center;
  
  
}



@media (max-width: 1100px) {
  
  .separation {
    width: 0px;
    height: 0px;
  }
  nav {
    width: 100%;
    position: static;
    
    
  }
  nav h2 {
    text-align: center;
    margin-top: 15px;
  }
  .scrollable {
    
    overflow-y: scroll;
    height: 110px;
    border: solid grey 0.5px;
  }
  span:first-of-type {
    border-top: solid grey 2px;
  }

  span:last-of-type {
    border-bottom: solid grey 2px;
  }

  .positioning {
    text-align: left;
    position: static;
    width: 85%;
    margin: 0 auto;
  }
   
}

